<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProfileApp</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body class = "login">
  <p class="btn btn-warning align-center" style="width:100%"></p>
  <div class="logo">
    <strong>ProfileApp</strong>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

  <div class="box">
    <div class="content">
<form>
    <input name="__RequestVerificationToken" type="hidden" >
          <h3 class="form-title">Create your ProfileApp Account</h3>
              <!-- Error Message -->
          <!-- <div class="alert fade in alert-danger"  *ngIf="isDisplayed">
              <i class="icon-remove close" data-dismiss="alert"></i>
              Enter any username and password.
          </div> -->

          <!-- <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isDisplayed">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                Please enter valid email or password.
            </div>
          </div> -->



              <!-- Input Fields -->
       

          <!-- <td>
            <span style="float:left">
                <input type="text" name="first-name" class="form-first-name" /></span>
             <span style="float:right">
                 <input type="text" name="last-name" class="form-last-name" /></span>
       </td> -->

        
<form [formGroup]="userRegisterForm" (ngSubmit)="registerUser()">

   <div class="row d-flex" >
    <div class="form-group p-2 col-md-5">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName"  id="inputEmail4" placeholder="First name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
    
    </div>
    <div class="form-group p-2 col-md-5">
        <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" id="inputPassword4" placeholder="Last name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback"> 
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
    </div>
  </div>

     <div class="form-group col-md-10">
        <label>E-Mail</label>
        <input type="text" name="UserName" class="form-control"  placeholder="E-mail" autofocus="autofocus" data-rule-required="true" data-msg-required="Please enter your username." formControlName="EmailId" [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.EmailId.errors.required">Email is required</div>
            <div *ngIf="f.EmailId.errors.email">Email must be a valid email address</div>
        </div>
    </div>
           
               
                  
                <div class="row d-flex" >
                <div class="form-group p-2 col-md-5">
                <label>Password</label>
                  <input type="{{ passwordVisible ? 'text' : 'password' }}" [(ngModel)]="password" #passwordInput name="Password" class="form-control" placeholder="Password" data-rule-required="true" data-msg-required="Please enter your password." formControlName="password">   
                </div>  
                 
                
                <div class="form-group p-2 col-md-5">
                    <label>Confirm</label>
                    <input type="{{ passwordVisible ? 'text' : 'password' }}" [(ngModel)]="confirm" #confirmInput name="Confirm" class="form-control" placeholder="Confirm" data-rule-required="true" data-msg-required="Please enter your password." formControlName="confirm">   
                </div> 
                </div>
                          
                  <div class="form-check form-switch form-switch-sm" style="margin: 10px; margin-left: 0px;">
                    <input class="form-check-input" (click)="togglePasswordVisibility()" type="checkbox" id="flexSwitchCheckChecked" >
                    <label class="form-check-label" for="flexSwitchCheckChecked">Show Password</label>
                  </div> 
               
          
          <div class="form-actions">
              <button type="submit" class="submit btn btn-primary pull-right">
                  Sign In ><i class="icon-angle-right"></i>
              </button>
          </div>
    </form>
        
</form>          
  </div>
  </div>
</body>
</html>


